<footer class="footer row reverse text-center">
  <p><small><a href="/about/">About</a> | <a href="/services/index">Services</a> | <a href="/process/index">How We Work</a> | <a href="/work/index">Work</a> | <a href="/journal/index/">Journal</a> | <a href="/contact/">Contact</a></li>
  </small></p> 
  <p><small>&copy; {{ global.title }}. Rapidly built with <a href="http://www.livewires.io">Live Wires</a>.</small></p>
</footer>