<header class="row row--tight reverse text-center" id="header">
	<h1><a href="/" class="logo">{{ global.title }}</a></h1>

      <nav class="horizontal-nav collapse">
          <p class="trigger"><a href="#primary" class="js-reveal">Menu</a></p>
          <ul id="primary">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/services/index">Services</a></li>
            <li><a href="/process/index">How We Work</a></li>
            <li><a href="/work/index">Work</a></li>
            <li><a href="/journal/index/">Journal</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
      </nav>              
</header>