<header class="row row--tight reverse text-center" id="header">
	<h1><a href="index" class="logo">{{ global.title }}</a></h1>

      <nav class="horizontal-nav collapse">
          <p class="trigger"><a href="#primary" class="js-reveal">Menu</a></p>
          <ul id="primary">
            <li><a href="/">Home</a></li>
            <li><a href="team">The Team</a></li>
            <li><a href="how-we-work">How We Work</a></li>
            <li><a href="case-studies">Case Studies</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
      </nav>              
</header>