//* =============================================================================
//   Default Colours
//   ========================================================================== */

$background: #FFF;
$dark-background: #37b5c4;
$text: #0b2325;
$mid-text: #666666;
$light-text: #FAFAFA;
$red: #d13731;
$blue: #37b5c4;

$accent: $blue; //Primary accent color