{% block content %}
{% model "process.json" %}
<section class="row">
  <h1>How We Work</h1>
    <p>Here is some body text. It will look like grey blocks when the Live Wires styles are applied. We do this so that you can use real content to get close size approximations of your content blocks without letting your team or clients get distracted by the actaul text.</p>

    <p>This is nice becuase you will be working with real content through the entire design and development process without having to reflow text at each stage.</p>

    {% for process in model.process %}
      <section class="split-content">
        <h3>{{ process.title }}</h3>
        <p>{{ process.summary }}</p>
      </section>
    {% endfor %}
</section>

{% endblock %}